# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

default_stages: [pre-commit, manual]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        # - id: check-yaml
        - id: check-json
        - id: check-added-large-files
        - id: check-case-conflict
        - id: check-merge-conflict
        # - id: debug-statements
        - id: requirements-txt-fixer
          # args: [
          #   "src/requirements/documentation.txt",
          #   "src/requirements/development.txt",
          #   "src/requirements/deployment.txt",
          #   "src/requirements/testing.txt",
          # ]

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.6
    hooks:
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix"]

  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        language_version: python3.12

  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout
        args: ["--drop-empty-cells", "--strip-init-cells"]
